extends layout

block content
  .bg
    .banner
      .banner__illustration

      .banner__form
        h2.h3 Hai #{user.name}, ready to reset the password?
        p Make sure to use a secure password.
        form(method="post")
          input(type="hidden", name="_id" value=user._id)
          input(type="hidden", name="email" value=user.email)
          label(for="password") New Password
          input(type="password" id="password" placeholder="Password" name="password")
          label(for="password-confirmation") Password confirmation
          input(type="password" id="password-confirmation" placeholder="Password confirmation" name="password")
          input(type="submit", value="Reset my password")

