extends layout

block content
  .container
    #index
      h2.h2 Welcome to sukatodo
      p Sukatodo-API is a minimalistic todo app API, <br> to learn more about our features, hit the button bellow.
      a.button.button--xl(href="/documentation") Go to the docs