<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
    link(rel="stylesheet", href="styles/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto&display=swap")
    title= title
  body
    - for (type in messages)
      div(class=`message ${type}`)
        span= messages[type]

    block content

    block scripts