extends layout

block content
  .bg
    .banner
      .banner__illustration

      .banner__form
        h2.h3 Reset your password
        p The verification email will be sent to your mail box
        form(method="post" action="/submit-reset")
          label Email
          input(type="email", name="email" placeholder="youremail@gmail.com" required)
          input(type="submit", value="Reset my password")