extends layout

block content
  .bg
    .banner.submit-reset
      .banner__illustration

      .banner__form
        h2.h3 Reset link has been sent to your mail box. Check it now!
        p If you encounter any problem just contact us hai@sukatodo.com

