extends layout

block content
  .bg.white
    .middle
      h2 Successfully reset your password
      //- pre
      //-   code= user

      img(src="/images/success2.webp", alt="")

      a.button(href="/") Go back to Home
